.container {
  width: 200px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 3px;
  margin: 0 10px 10px 0;
  .title {
    font-size: 15px;
    font-weight: bolder;
    margin: 10px 0 5px 0;
  }
}
